.allItems {
  display: flex;
  padding: 1% 9%;
  gap: 20px;
}

@media screen and (max-width: 775px) {
  .allItems {
    display: inline-block;
  }
}

@media screen and (max-width: 1100px) {
  .allItems {
    padding: 1% 4%;
  }
}
